@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.section-title {
  font-size: 40px;
  font-weight: 800;
  color: #3b82f6;
  margin-bottom: 35px;
}

.glass-card {
  background: rgba(255, 255, 255, 0.85);
  padding: 35px;
  border-radius: 28px;
  box-shadow: 0 20px 50px rgba(91, 141, 239, 0.15);
  border: 1px solid rgba(247, 200, 224, 0.6);
}

.skill-card {
  background: white;
  padding: 28px;
  text-align: center;
  font-weight: 700;
  border-radius: 24px;
  box-shadow: 0 15px 35px rgba(91, 141, 239, 0.12);
  border: 1px solid #f7c8e0;
}

.skill-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 25px 50px rgba(91, 141, 239, 0.22);
}

.project-card {
  background: white;
  border-radius: 28px;
  overflow: hidden;
  box-shadow: 0 20px 50px rgba(91, 141, 239, 0.16);
  border: 1px solid #f7c8e0;
  cursor: pointer;
}

.contact-card {
  background: white;
  padding: 30px;
  border-radius: 25px;
  box-shadow: 0 20px 45px rgba(91, 141, 239, 0.14);
  border: 1px solid #f7c8e0;
  transition: 0.3s;
}

.contact-card:hover {
  transform: translateY(-12px);
  box-shadow: 0 30px 60px rgba(91, 141, 239, 0.25);
}

.contact-card h3 {
  font-size: 22px;
  font-weight: 800;
  color: #3b82f6;
}

.contact-card p {
  color: #666;
  margin-top: 5px;
}

.tech-badge {
  background: #ffe4f1;
  color: #2563eb;
  padding: 7px 13px;
  border-radius: 999px;
  font-size: 14px;
  font-weight: 600;
}

.btn-blue {
  background: #3b82f6;
  color: white;
  padding: 13px 24px;
  border-radius: 999px;
  box-shadow: 0 12px 25px rgba(59, 130, 246, 0.25);
  transition: 0.3s;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 8px;
}

.btn-blue:hover {
  background: #f472b6;
  transform: translateY(-4px);
}

.btn-pink {
  background: #f472b6;
  color: white;
  padding: 13px 24px;
  border-radius: 999px;
  box-shadow: 0 12px 25px rgba(244, 114, 182, 0.25);
  transition: 0.3s;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 8px;
}

.btn-pink:hover {
  background: #3b82f6;
  transform: translateY(-4px);
}

.social-btn {
  width: 48px;
  height: 48px;
  background: white;
  color: #3b82f6;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  box-shadow: 0 12px 25px rgba(91, 141, 239, 0.2);
  transition: 0.3s;
}

.social-btn:hover {
  background: #f472b6;
  color: white;
  transform: translateY(-6px);
}

.profile-float {
  animation: float 4s ease-in-out infinite;
}

@keyframes float {
  0%, 100% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-18px);
  }
}